{% extends "base.html" %}

{% block content %}
<div class="py-5">
    <div class="row py-5">
        <div class="col-lg-10 col-10 mx-auto">
            <div class="card rounded shadow border-0">
                <div class="card-body p-5 bg-white rounded">
                    <h1 class="display-4">Add or Update a Search Term</h1>
                    <p class="lead mb-0">
                        How does this work?<br><br>
                        · If you're looking for a specific product, type the product's ASIN in the Search input, leave Category input blank and set your max price (in Euros). Example:<br>
                        <strong>
                        Search: B006CZ0LGA<br>
                        Category: <br>
                        Max Price: 35</strong><br><br>
                        · If you're looking for a certain type of product, but don't know yet which brand/model... Type the search term in the first input (just as you would type it in Amazon) and the category the product is in. Take into account that this runs in Amazon.es so, at least the category, should be in Spanish and exactly as shown in Amazon. Then set your max price (in euros). Example:<br>
                        <strong>
                        Search: 21:9 monitor<br>
                        Category: Monitores<br>
                        Max Price: 400</strong><br><br>
                    </p>
                    <form action="" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        <p class="lead mb-0">
                            {{ form.name.label }}<br>
                            {{ form.name(size=32) }}
                        </p>
                        <p class="lead mb-0">
                            {{ form.category.label }}<br>
                            {{ form.category }}
                        </p>
                        <p class="lead mb-0">
                            {{ form.max_price.label }}<br>
                            {{ form.max_price }}
                        </p><br>
                        <p class="lead mb-0">
                            {{ form.min_price.label }}<br>
                            {{ form.min_price }}
                        </p><br>
                        <p class="lead mb-0">
                            {{ form.black_list.label }} <span style="color:gray">(separated by commas)</span><br>
                            {{ form.black_list }}
                        </p><br>
                        <p>{{ form.submit() }}</p>
                    </form>
                    <br><br>
                    <div class="table-responsive">
                        <table id="example" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Search Term</th>
                                    <th>Category</th>
                                    <th>Max Price</th>
                                    <th>Min Price</th>
                                    <th>Black List</th>
                                    <th>Delete?</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for search in search_data %}
                                <tr>
                                    <td>{{search.name}}</td>
                                    <td>{{search.category}}</td>
                                    <td>{{search.max_price}}€</td>
                                    <td>{{search.min_price}}€</td>
                                    <td>{{search.black_list}}</td>
                                    <td style="text-align:center"><a href="{{ url_for('delete_search_term') }}?id={{search.id}}"><i class="far fa-trash-alt"></i></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}